html,
body {
  font-family: monospace;
  margin: 0;
  padding: 0;
}

/* Toggle dark or light mode ------------------------------------------------Toggle dark or light mode */
.lightbody {
  background-color: white;
  color: #151d20;
}

.darkbody {
  background-color: #151d20;
  color: white;
}

.dark-light-btns {
  position: absolute;
  bottom: 6%;
  right: 2.9em;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.white {
  color: #fff;
}

.sun {
  color: #fff;
}

.moon {
  color: #fff;
}

@media screen and (min-width: 800px) {

  .sun {
    color: #fff;
  }

  .moon {
    color: #fff;
  }

  .lightmode {
    background-color: white;
    color: #444;
  }

  .dark-light-btns {
    position: absolute;
    top: 40%;
    right: 5.9em;
  }
}
/* Toggle dark or light mode ------------------------------------------------Toggle dark or light mode */

/* Top navbar ------------------------------------------------top navbar */
#mainNav {
  background-color: #212529;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  color: #78B1BB;
  border: 0;
  /* background-color: #151d20; */
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand {
  color: #78B1BB;
  font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #78B1BB;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: #78B1BB;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fff;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}
/* Top navbar ------------------------------------------------top navbar */

/* Image container ------------------------------------------------Image container */
.img-container {
  position: relative;
  width: 100%;
  /* padding: 90px 40px; */
}

.darkbody .jmr-img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0.7;
}

.lightbody .jmr-img {
  width: 100%;
  height: auto;
  display: block;
}

.darkbody .img-Welcome {
  position: absolute;
  color: white;
  font-size: 30px;
  top: 35%;
  right: 34%;
  text-align: center;
  padding: 10px 20px;
}

.lightbody .img-Welcome {
  position: absolute;
  color: white;
  font-size: 30px;
  top: 35%;
  right: 34%;
  text-align: center;
  padding: 10px 20px;
}

@media screen and (min-width: 992px) {

  /*  hover effect on image starts here */
  .img-container {
    position: relative;
    width: 100%;
  }

  .jmr-img {
    width: 100%;
    height: auto;
    display: block;
  }

  .background-effect {
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
  }

  .img-Welcome {
    position: absolute;
    color: white;
    font-size: 60px;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .img-container:hover .background-effect {
    opacity: 0.5;
  }
}
/* Image container ------------------------------------------------Image container */

/* About me section ------------------------------------------------About me section */
#about-me {
  padding: 40px 0 0 0;
}

.darkbody #about-me h2 {
  margin: 0 0 0 10px;
  font-size: 1.5em;
  color: #fff;
}

.lightbody #about-me h2 {
  margin: 0 0 0 10px;
  font-size: 1.5em;
  color: #151d20;
}

.darkbody #about-me p {
  margin: 0 0 0 10px;
  padding: 20px 0;
  font-size: 1.2em;
  line-height: 1.5rem;
  color: #78B1BB;
}

.lightbody #about-me p {
  margin: 0 0 0 10px;
  padding: 20px 0;
  font-size: 1.2em;
  line-height: 1.5rem;
  color: #151d20;
}

#about-me ul {
  padding: 20px 0 0 30px;
}

.darkbody #about-me li {
  line-height: 35px;
  font-size: 1.2em;
  color: #78B1BB;
}

.lightbody #about-me li {
  line-height: 35px;
  font-size: 1.2em;
  color: #151d20;
}
/* About me section ------------------------------------------------About me section */

/* Project page ------------------------------------------------Project page */
#projects {
  padding: 10px 0 0 0;
  color: #151d20;
}

.darkbody #projects h2 {
  color: #fff;
  margin: 0 0 0 10px;
  font-size: 1.9em;
}

.lightbody #projects h2 {
  color: #151d20;
  margin: 0 0 0 10px;
  font-size: 1.9em;
}

.darkbody #projects p {
  margin: 0 0 0 10px;
  padding: 10px 0;
  color: #78B1BB;
  font-size: 1.2em;
}

.lightbody #projects p {
  margin: 0 0 0 10px;
  padding: 10px 0;
  color: #151d20;
  font-size: 1.2em;
}

.darkbody #projects ul {
  padding: 0 0 0 30px;
  color: #78B1BB;
}

.lightbody #projects ul {
  padding: 0 0 0 30px;
  color: #151d20;
}

.darkbody #projects a {
  text-decoration: none;
  color: #fff;
}

.lightbody #projects a {
  text-decoration: none;
  color: #78B1BB;
}

.darkbody #projects a:hover {
  color: lightblue;
}

.lightbody #projects a:hover {
  color: lightblue;
}
/* Project section ------------------------------------------------Project section */

/* Resume page section ------------------------------------------------Resume page section */
.darkbody #resume {
  padding: 20px 0 0 0;
  color: #78B1BB;
}

.lightbody #resume {
  padding: 20px 0 0 0;
  color: #151d20;
}

.darkbody #resume .card {
  background-color: #151d20;
  border: 1px solid #78B1BB;
}

.lightbody #resume .card {
  background-color: white;
  color: #151d20;
  border: 1px solid white;
}

.darkbody #resume .card-header {
  border-bottom: 1px solid #78B1BB;
}

.lightbody #resume .card-header {
  background-color: white;
  border-bottom: 1px solid #151d20;
}

.darkbody #resume h2 {
  text-align: center;
  color: #fff;
  font-size: 1.9em;
}

.lightbody #resume h2 {
  text-align: center;
  color: #151d20;
  font-size: 1.9em;
}

.darkbody #resume h3 {
  padding: 10px 0 0 0;
  color: #fff;
  font-size: 2.0em;
}

.lightbody #resume h3 {
  padding: 10px 0 0 0;
  color: #151d20;
  font-size: 2.0em;
}

.darkbody #resume p {
  color: #78B1BB;
  line-height: 25px;
  font-size: 1.2em;
}

.lightbody #resume p {
  color: #151d20;
  line-height: 25px;
  font-size: 1.2em;
}

.darkbody #resume li {
  color: #78B1BB;
  line-height: 25px;
  font-size: 1.2em;
}

.lightbody #resume li {
  color: #151d20;
  line-height: 25px;
  font-size: 1.2em;
}

.darkbody #resume a {
  text-decoration: none;
  color: #fff;
}

.lightbody #resume a {
  text-decoration: none;
  color: #78B1BB;
}

.darkbody #resume a:hover {
  color: lightblue;
}

.lightbody #resume a:hover {
  color: lightblue;
}
/* Resume page section ------------------------------------------------Resume page section */

/* Contact me section ------------------------------------------------Contact me section */
#contact-me {
  padding: 60px 0;
}

.darkbody #contact-me .card {
  background-color: #151d20;
  border: 1px solid #151d20;
}

.lightbody #contact-me .card {
  background-color: white;
  color: #151d20;
  border: 1px solid white;
}

.darkbody #contact-me .card-header {
  border-bottom: 1px solid #78B1BB;
}

.lightbody #contact-me .card-header {
  background-color: #fff;
  border-bottom: 1px solid #151d20;
}

.darkbody #contact-me h2 {
  text-align: center;
  color: #fff;
}

.lightbody #contact-me h2 {
  text-align: center;
  color: #151d20;
}

.darkbody #contact-me label {
  color: #fff;
}

.lightbody #contact-me label {
  color: #151d20;
}


input[type=text],
select,
textarea,
input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.darkbody #contact-me button {
  color: #151d20;
  background-color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.lightbody #contact-me button {
  color: white;
  background: #212529;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.darkbody #contact-me button:hover {
  background-color: lightblue;
  color: #151d20;
}

.lightbody #contact-me button:hover {
  background-color: #78B1BB;
  color: #151d20;
}
/* Contact me section ------------------------------------------------Contact me section */

/* Equipment page section ------------------------------------------------Equipment page section */
/* .myequipmentpage-container {
  margin: 150px 0 0 20px;
}

.myequipmentpage-container h1 {
  margin: 0;
  color: #78B1BB;
  font-size: 2.5em;
}

.myequipmentpage-container h3 {
  margin: 0;
  color: #78B1BB;
  font-size: 2.0em;
}

.myequipmentpage-container p {
  margin: 0 0 0 20px;
  line-height: 26px;
  font-size: 1.2em;
} */
/* Equipment page ------------------------------------------------Equipment page */

/* Footer section ------------------------------------------------Footer section */
.footer {
  padding: 25px 0;
  text-align: center;
  margin-top: 1em;
  background: #212529;
}

.social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(120, 177, 187, 1)
}

.social a:hover {
  background: #151d20;
  color: rgba(255, 255, 255, 1);
}

.social a:active {
  color: rgba(255, 255, 255, 1);
}
  /* Footer section ------------------------------------------------Footer section */
